<h4>Internal Server Error - Refreshing the Page makes the error disappear!</h4>
<ng-container *ngIf="error">

    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: if you are seing this, maybe Angular is not to blame!</p>
    <p>What to do next:</p>
    <ol>
        <li>Open chrome dev tools! Then check the failing request in the network tab</li>
        <li>Examine th Request URL - Do you have the correct API URL for the endpoint?</li>
        <li>Reproduce the problem in Postman</li>
    </ol>
    <p style="font-weight: bold;">Following is the Stack Trace- First Few line are relevant</p>
    <code class="mt-5" style="background-color= whitesmoke;">
        {{error.details}}
    </code>
</ng-container>
